@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,600,700&amp;subset=cyrillic';
/* Open Sans, 300,600,700 */
@font-face {
  font-family: Gilroy;
  src: url(../fonts/gilroy_extrabold.ttf);
}
/*Gilroy ExtraBold*/
body,
html {
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
}
.container-fluid {
  height: 1080px;
  width: 100%;
  background-image: url(../img/bg/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.container {
  width: 1200px;
}
header {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
aside {
  width: 20%;
  background-color: #0d69b0;
}
.nav-menu {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
}
.nav-menu .nav-menu-list a {
  font-size: 1rem;
  font-family: Open Sans;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s ease-out;
}
.nav-menu .nav-menu-list a:hover,
.nav-menu .nav-menu-list a:focus,
.nav-menu .nav-menu-list a:active {
  border-bottom: 1px solid #ed3f10;
  text-decoration: none;
  color: #ed3f10;
}
.header-content {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.header-lists li {
  list-style-type: none;
}
.header-lists li:before {
  content: url(../img/icons/ellipse.png);
}
