@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic';
/* Open Sans, 300,600,700 */
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url(../fonts/gilroy_extrabold.otf);
  font-weight: 900;
}
/*Gilroy ExtraBold*/
body,
html {
  margin: 0;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
.container-fluid {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/bg/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 0;
}
.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  flex-direction: row;
}
header {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 1260px) {
  header {
    width: 75vw;
  }
}
aside {
  width: 20vw;
  height: 100vh;
  background-color: rgba(23, 26, 27, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1400px) {
  aside {
    width: 25vw;
  }
}
@media (max-width: 1024px) {
  aside {
    width: 30vw;
  }
}
.container-padding {
  padding-top: 90px;
  padding-bottom: 90px;
}
.nav-menu {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  width: 100%;
}
.nav-menu .nav-menu-list a {
  font-size: 0.9rem;
  font-family: Open Sans;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s ease-out;
}
.nav-menu .nav-menu-list a:hover,
.nav-menu .nav-menu-list a:focus,
.nav-menu .nav-menu-list a:active {
  /*border-bottom: 1px solid @btn-link-color;*/
  text-decoration: none;
  color: #ed3f10;
}
@media (max-width: 1366px) {
  .nav-menu .nav-menu-list a {
    font-size: 1.4rem;
  }
}
@media (max-width: 1366px) {
  .nav-menu {
    display: none;
  }
}
.nav-menu--menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: gray;
  z-index: 100;
}
.hamburger {
  display: none;
  z-index: 100;
}
@media (max-width: 1366px) {
  .hamburger {
    display: flex;
    position: relative;
    margin-top: 40px;
    width: 24px;
    height: 25px;
    background: none;
    border: none;
    padding: 0;
  }
}
.hamburger span,
.hamburger:before,
.hamburger:after {
  display: block;
  height: 3px;
  background-color: #ffffff;
  width: 100%;
  margin: auto;
}
.hamburger:before,
.hamburger:after {
  position: absolute;
  top: 0;
  content: '';
  transform-origin: 50% 50%;
}
.hamburger:before {
  top: calc(97%);
}
.hamburger.active span {
  opacity: 0;
}
.hamburger.active:after {
  transform: rotate(-45deg);
  top: 9px;
}
.hamburger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.header-content {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  height: 100vh;
  justify-content: space-evenly;
}
h1 {
  font-size: 3.75rem;
  font-family: 'Gilroy-ExtraBold';
  line-height: 1.283;
  display: flex;
  align-items: center;
}
@media (max-width: 1260px) {
  h1 {
    font-size: 3rem;
  }
}
ul.header-lists {
  padding-left: 0;
}
.header-lists li {
  font-family: 'Open Sans';
  font-weight: 600;
  list-style-type: none;
  line-height: 2;
}
.header-lists li:before {
  content: url(../img/icons/ellipse.png);
  padding-right: 15px;
}
.heading-block {
  margin-bottom: 50px;
}
.heading-2 {
  font-size: 2.63rem;
  font-family: 'Gilroy-ExtraBold';
  line-height: 1.2;
  display: flex;
  text-align: center;
  color: #000000;
}
.aside-content {
  color: #ffffff;
  height: 66%;
  padding-top: 5%;
}
.aside-content img {
  padding-bottom: 30px;
  padding-top: 5px;
}
.aside-content-footer {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.shape {
  background-color: #b0bdc1;
  margin-bottom: 20px;
}
a.button {
  padding: 20px;
}
.button {
  background-color: #ed3f10;
  color: #ffffff;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 1rem;
  border-radius: 4px;
  text-align: center;
  line-height: 1.5;
  height: 62px;
  width: 219px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 46;
}
.button img {
  padding-bottom: 0;
  padding-right: 10px;
  vertical-align: bottom;
  margin-top: 15px;
}
.aside-block p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 0.875rem;
  font-family: 'Open Sans';
  font-weight: 600;
  line-height: 1.6;
  z-index: 39;
}
p.aside-text {
  text-transform: uppercase;
  font-weight: 700;
}
.aside-block p.aside-numbers {
  white-space: pre;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 400;
}
.aside-block p.aside-text-space {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.col-2 {
  width: 20%;
}
.col-10 {
  width: 80%;
}
.aside-banner {
  height: 34%;
  width: inherit;
  background-color: #0d69b0;
  display: flex;
  align-items: center;
}
.banner-container {
  color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.banner-text {
  font-size: 1.25rem;
  font-family: 'Open Sans';
  line-height: 1.2;
  margin: 0;
}
@media (max-width: 1024px) {
  .banner-text {
    font-size: 1rem;
  }
}
.banner-heading {
  font-size: 1.5rem;
  font-family: 'Open Sans';
  font-weight: 700;
}
@media (max-width: 1024px) {
  .banner-heading {
    font-size: 1.2rem;
  }
}
.container-phone .row {
  align-items: center;
  justify-content: center;
  background: #969090;
  /*border: 1px solid #969090;*/
  border-radius: 40px;
  max-width: 100%;
  margin: 0;
}
.container-phone .row .col-2 {
  padding: 0;
}
.col-5 {
  padding: 0;
}
.col-5 button {
  background-color: #42a2ec;
  border-radius: 40px;
  height: 56px;
  border: 0!important;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  width: max-content;
}
input {
  background-color: transparent!important;
  border: 0!important;
  outline: none;
  color: #ffffff;
}
input[type='tel'] {
  padding: 0;
}
input[type='tel']::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 1rem;
  width: max-content;
}
input[type='tel']::-moz-placeholder {
  color: #ffffff;
}
select {
  outline: none;
}
.country {
  position: relative;
  border: 0;
}
.form-control {
  color: #ffffff;
  text-align: center;
}
.form-inline .form-control {
  width: inherit;
}
select.country option[value='Ru'] {
  padding: 0;
}
.card-price-icon {
  margin-bottom: 20px;
}
.card-price-header {
  font-size: 1.25rem;
  color: #000000;
  font-family: 'Open Sans';
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
}
.card-price-text {
  font-size: 1.05rem;
  color: #000000;
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 1.2;
}
.card-price-lists {
  list-style-type: none;
}
