.card-price-icon {
  margin-bottom: 20px;
  text-align: center;
}

.card-price-header {
  font-size: 1.25rem;
  color: @text;
  font-family: 'Open Sans';
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}

.card-price-text {
  font-size: 1.05rem;
  color: @text;
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 1.2;
}
.card-price-lists {
  list-style-type: none;
}
