body, html {
  margin: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.container-fluid {
  height: 954px;
  width: 100%;
  background-image: url(../img/bg/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  @media screen and (max-width: 1260px) {
    height: auto;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1260px) {
    width: 100%;
    margin: 2%;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

header {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

aside {
  width: 20%;
  background-color: @bg-aside;
  /*opacity: 0.6;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*@media screen and (max-width: 980px) {
  .container-fluid {
    width: 100%;
    padding: 2% 3%;
  }
  .header {
    width: 60%;
    padding: 3% 4%;
  }
  .aside {
    width: 30%;
  }
}*/
