body, html {
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
}

.container-fluid {
  height: 954px;
  width: 100%;
  background-image: url(../img/bg/header-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

header {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

aside {
  width: 20%;
  height: 834px;
  background-color: @bg-aside;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

}
