body, html {
  margin-left: 0;
  margin-right: 0;
}

.container {
  height: 1080px;
  width: 100%;
  background-image: url(../img/bg/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

header {
  width: 80%;
}

aside {
  width: 20%;
  background-color: rgb(13, 105, 176);
}
