.header-content {
  display: flex;
  flex-direction: column;
  color: @base-color;
}

.header-lists li {
  list-style-type: none;
}
.header-lists li:before {
  content: url(../img/icons/ellipse.png);
}
