.header-content {
  display: flex;
  flex-direction: column;
  color: @base-color;
  height: 100vh;
  justify-content: space-evenly;
}
h1 {
  font-size: 3.75rem;
  font-family: 'Gilroy-ExtraBold';
  line-height: 1.283;
  display: flex;
  align-items: center;

  @media (max-width: 1260px) {
    font-size: 3rem;
  }

}
ul.header-lists {
  padding-left: 0;
}
.header-lists li {
  font-family: 'Open Sans';
  font-weight: 600;
  list-style-type: none;
  line-height: 2;
}
.header-lists li:before {
  content: url(../img/icons/ellipse.png);
  padding-right: 15px;
}

.heading-block {
  margin-bottom: 50px;
}

.heading-2 {
  font-size: 2.63rem;
  font-family: 'Gilroy-ExtraBold';
  line-height: 1.2;
  text-align: center;
  color: @text;
}

.heading-3 {
  font-size: 2.25rem;
  font-family: 'Gilroy-Light';
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: @base-color;
  padding-top: 100px;
  padding-bottom: 60px;
}
