.nav-menu {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;

  .nav-menu-list {

    a {
      font-size: 0.9rem;
      font-family: Open Sans;
      font-weight: 700;
      color: @base-color;
      text-decoration: none;
      transition: 0.2s ease-out;

      &:hover, &:focus, &:active {
        /*border-bottom: 1px solid @btn-link-color;*/
        text-decoration: none;
        color: @btn-link-color;
      }
    }
  }
  @media (max-width: 1260px) {
    display: none;
  }

  .nav-menu .menu-mobile {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
  }
}
.hamburger {
  display: none;

  @media (max-width: 1260px) {
    display: flex;
    position: relative;
    margin: 40px;
    width: 26px;
    height: 26px;
    background: none;
    border: none;
    padding: 0;
  }

  span, &:before, &:after {
    display: block;
    height: 3px;
    background-color: @base-color;
    width: 100%;
    margin: auto;
  }

  &:before, &:after {
    position: absolute;
    top: 0;
    content: '';
    transform-origin: 50% 50%;
  }

  &:before {
    top: calc(100% - 3px);
  }

}
