.nav-menu {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;

  .nav-menu-list {

    a {
      font-size: 0.9rem;
      font-family: Open Sans;
      font-weight: 700;
      color: @base-color;
      text-decoration: none;
      transition: 0.2s ease-out;

      &:hover, &:focus, &:active {
        /*border-bottom: 1px solid @btn-link-color;*/
        text-decoration: none;
        color: @btn-link-color;
      }
    }
  }
}

